@media (min-width: 979px) {
  body {
    background: #2a2929ff;
    padding: 3% 15% 3% 15%;
    color: white;
  }

  .loader span { 
    z-index:1; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    background-color: #595959ff;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    border: 1px solid white;
  }

  .instruct {
    font-size: 20px;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
  }
}

@media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
  }

  body {
    background: #2a2929ff;
    padding:0% 3% 0% 3%;
    color: white;
  }

  video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
  }

  .loader span { 
    z-index:1; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    background-color: #595959ff;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    border: 1px solid white;
  }

  .instruct {
    font-size: 16px;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    margin-top: 3px;
  }

}

input[type="file"] {
    display: none;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  border-bottom: 3px solid #ffc9f5;
}

.topnav h1 {
  float: left;
  padding: 0px;
}

.collapsible {
  background-color: #2a2929ff;
  color: white;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.collapsible:after {
  content: '\2304';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2303";
}

.content {
  padding: 0px 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
}

.unblur {
  padding: 0;
}

.error {
  color: #ff0000;
}

.controls {
  display: flex;
  width: 100%;
}

.controls input[type="radio"] {
  display: none;
}      
.controls label {
  display: inline-block;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 18px;
  cursor: pointer;
}      
.controls input[type="radio"]:checked+label {
  border-radius: 10px;
/*  border: 3px solid #2a2929ff;*/
  background-color: #2a2929ff;

}

.radio {
  flex: 1 0 auto;
  width: 30%;
  flex-direction: column;
  align-items: center;
/*  border: 1px solid;*/
  border-radius: 10px;
  margin-right: 10px;
  background-color: #595959ff;
}

#topnav-right {
  float: right;
}

#logo {
  color: #4a4cc7;
}

#checkout {
  color: white;
  background: #4a4cc7;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  float: right;
}

#url {
  display: inline-block;
  width: 100%;
  height:  6%;
  border-radius: 10px;
  border: 1px solid #2a2929ff;
  padding: 0px 18px;
  margin-bottom: 20px;
  color: white;
  background-color: #595959ff;
}

#upload-file {
/*  display: inline-block;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:  6%;
  border-radius: 10px;
/*  border: 3px solid #2a2929ff;*/
  padding: 0px 18px;
  margin-bottom: 20px;
  text-align: center;
  cursor:pointer;
  background-color: #595959ff;
}

#upload-file:hover {
  background-color: #2a2929ff;
}

#speakers {
  display: inline-block;
  width: 100%;
  height:  6%;
  border-radius: 10px;
  border: 1px solid #2a2929ff;
  padding: 0px 18px;
  margin-bottom: 20px;
  color: white;
  background-color: #595959ff;
}

#submit {
  font-size: 24px;
  color: white;
  background-color: #595959ff;
  border-radius: 10px;/*
  border: 2px solid #4a4cc7;*/
  cursor: pointer;
}

#submit:hover {
  background-color: #2a2929ff;
}



#input-form {
  display: inline-block;
  width: 100%;
  background-color: #3a3a3aff;
  border-radius: 15px;
}

#sign-in {
  padding: 10px;
}

#manage {
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #4a4cc7;
  margin: 18px;
  padding: 10px;
/*  width: 100%;*/
  text-align: left;
  outline: none;  
}

#contact {
  font-size: 16px;
  margin: 18px;
  padding: 10px;
  text-align: left;
  outline: none;  
}

#diagram {
  text-align: center;
}

::placeholder {
  color: #cbcbcbff;
  opacity: 1;
}
