<html>
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="/static/js/functions.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- <script src="{{url_for('static', filename='js/functions.js')}}"></script> -->
    <meta name="google-signin-client_id" content="868937796982-6c0s1omvnnj9vuq6uqvhjq83jgvhfigg.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/style.css">
    <link rel="stylesheet" href="/static/stylesheets/dubb.css">
    <title>Dubb</title>
  </head>
  <body style="padding: 3% 10% 3% 10%">
    <div class="topnav">
      <a href="#">Dubb</a>
      <div class="topnav-right">
        <div class="g-signin2" id="sign-in" data-onsuccess="onSignIn" style="display: block;"></div>
        <a href="#" id="sign-out" onclick="signOut();" style="display: none;">Sign out</a>
      </div>
    </div>
    <h4>Market your podcast, with AI</h4>
    <h5 id="enter">Enter the Youtube or Spotify URL of your podcast</h5>
    <fieldset id="input-form" disabled=true style="display: block;">  
    <!-- <fieldset id="input-form" style="display: block;"> -->
      <form method="POST" id="url-form">
        <input type="text" id="url" name="url" value="Sign in with Google to submit an url" size="50"><br>
        <input type="text" id="speakers" name="speakers" value="" size="50"><br>
        <input type="submit" value="Go">
      </form>
    </fieldset>
    <script type="text/javascript">
      $(document).on('submit','#url-form',function(e)
                     {
        // $("#enter").html("Your results here");
        // $("#input-form").hide('slide');
        // $("#result-waiting").show('slide');
        e.preventDefault();
        $.ajax({
          type:'POST',
          url:'/process',
          data:{
            url:$("#url").val(),
            speakers:$("#speakers").val(),
            email:email,
          },
          // success: function(response) {
          //   $("#result-waiting").hide('slide');
          //   $("#result-article-text").html(response.article);
          //   $("#result-article").show('slide');
          //   if (!(response.transcript === null)) {
          //     $("#result-transcript-text").html(response.transcript);
          //     $("#result-transcript").show('slide');
          //   }
          // },
          error: function(xhr) {
            //Do Something to handle error
          }
        })
      });
    </script>
    <div id='result-waiting' style="display: none;">We're working on your summary! It may take a few minutes. Please don't refresh the page or navigate away.</div>
    <div id='result-article' style="display: none;">
      <b><p>Article</p></b>
      <div id='result-article-text'></div>
      <br>
    </div>
    <div id='result-transcript' style="display: none;">
      <b><p>Transcript</p></b>
      <div id='result-transcript-text'></div>
      <br>
    </div>
    <!-- add an image here -->
    <h5>Our AI model will listen to your podcast and email you:</h5>
      <button class="collapsible">An engaging article to post to your blog or newsletter</button>
      <div class="content">
        <b><p>Example</p></b>
        <p>The idea of effective altruism is to take the evidence seriously. If you went to Harvard Business School, the idea of investing for impact in the business world is the biggest duh ever, but when it comes to trying to do good for the world more generally, it's only recently that people have been doing serious analysis that investors have been doing for decades and even centuries. The story of life is a story of cooperation at increasingly complex levels. But our social emotions are designed to produce cooperative interactions in the service of out competing others. Our values are not necessarily the same thing as the values that are implicit in the biological process.</p>

        <p> Jane asked John to help increase the donations to her list of high impact charities. He wanted people to give with their heads rather than with their hearts. But purely rational appeals were not very effective. 'I was convinced to support highly effective charities by philosopher Peter Singer.' His philosophy was based on a famous argument. 'He said, look, if you were walking by a pond and there was a child drowning and you could save the child, but if you do that, you're going to ruin the nice suit you're wearing or whatever it is, would you still save the child?' So you should use what resources you have to help those people.</p>
      </div>
      <br>
      <button class="collapsible">The most insightful quotes to share</button>
      <div class="content">
        <b><p>Example</p></b>   
        <p>John: "People really misperceive this, that if you just say here's a $100, go out and make yourself happy, and then you check in later with them, the people who spent it on other people are happier."</p>
        <p>Jane: "So there's a very real sense in which saving 1000 people's lives is a thousand times better than saving one person's life. But research suggests that if anything, saving a single person is more emotionally salient than saving 1000 that it becomes the numbers become very abstract."</p>
      </div>
      <br>
      <button class="collapsible">A detailed transcript of the conversation</button>
      <div class="content">
        <b><p>Example</p></b>  
        <p>[02:46] John: "So why don't we do one better?"</p>
        <p>[02:52] Jane: "Why don't we apply the cooperative social emotional capacities that we evolved for competition and apply them not just cooperatively within our local groups, but more broadly?"</p>
        <p>[03:10] Jane: "And so my mission is to expand that circle all the way out as best as I can."</p>
      </div>
  </body>
</html>
