<html>
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="/static/js/functions.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- <script src="{{url_for('static', filename='js/functions.js')}}"></script> -->
    <meta name="google-signin-client_id" content="868937796982-6c0s1omvnnj9vuq6uqvhjq83jgvhfigg.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/style.css">
    <link rel="stylesheet" href="/static/stylesheets/dubb.css">
    <title>Dubb</title>
  </head>
  <body>
    <div class="topnav">
      <a href="#" id='logo'>Dubb</a>
      <div id="topnav-right">
        <a href="#" id="sign-out" onclick="signOut();" style="display: none;";>Sign out</a>
        <div class="g-signin2" id="sign-in" data-onsuccess="onSignIn" style="display: block;"></div>
      </div>
    </div>
    <h3>Spend more time making your podcast, and less time promoting it</h3>
    <h5>Dubb listens to your podcast and writes marketing content so you can grow your audience</h5>
    <div style="position: relative;">
      <div id="floating-sign-in" class="loader" hidden>
        <span>Sign in to try Dubb</span>
      </div>
      <div id='input-div' class='unblur'>
        <fieldset id="input-form" disabled=true style="display: block;">
        <!-- <fieldset id="input-form" style="display: block;"> -->
          <form action="/process" method="POST" id="url-form" enctype = "multipart/form-data">
            <p id="upload-instruct">Select your audio file (mp3, wav)</p>
            <label for="file-upload" id="upload-file">
                Choose File
            </label>
            <span id="file-selected"></span>
            <p>...or enter the url of the podcast episode (Spotify, Google Podcasts, Youtube)</p>
            <input type="file" id="file-upload" accept=".wav,.mp3" name="file"/>
            <input type="text" id="url" name="url" value="https://open.spotify.com/episode/yourgreatpodcast" size="50"><br><br>
            <p id="names-instruct">List the speakers in order of appearance, with a comma separating each name. Add any advertisers too.</p>
            <input type="text" id="speakers" name="speakers" value="Jane Doe, Ad, John Smith" size="50"><br>
            <input type="hidden" id="email" name="email" value="">
            <input type="submit" id="submit" value="Go">
          </form>
        </fieldset>
      </div>
    </div>
    <!-- add an image here -->
    <h5>Our AI model will listen to your podcast and write:</h5>
      <button class="collapsible">An SEO Title</button>
      <div class="content">
        <b><p>Example</p></b>
        <p>The Effective Altruism Movement</p>
      </div>
      <br>
      <button class="collapsible">An engaging article to post to your blog or newsletter</button>
      <div class="content">
        <b><p>Example</p></b>
        <p>The idea of effective altruism is to take the evidence seriously. If you went to Harvard Business School, the idea of investing for impact in the business world is the biggest duh ever, but when it comes to trying to do good for the world more generally, it's only recently that people have been doing serious analysis that investors have been doing for decades and even centuries. The story of life is a story of cooperation at increasingly complex levels. But our social emotions are designed to produce cooperative interactions in the service of out competing others. Our values are not necessarily the same thing as the values that are implicit in the biological process.</p>

        <p> Jane asked John to help increase the donations to her list of high impact charities. He wanted people to give with their heads rather than with their hearts. But purely rational appeals were not very effective. 'I was convinced to support highly effective charities by philosopher Peter Singer.' His philosophy was based on a famous argument. 'He said, look, if you were walking by a pond and there was a child drowning and you could save the child, but if you do that, you're going to ruin the nice suit you're wearing or whatever it is, would you still save the child?' So you should use what resources you have to help those people.</p>
      </div>
      <br>
      <button class="collapsible">A description that will hook your audience</button>
      <div class="content">
        <b><p>Example</p></b>   
        <p>John and Jane discuss how to be more effective in their altruism. They talk about how to take the evidence seriously and use it to make decisions about where to donate their money. They also discuss how to appeal to people's rational side when making appeals for donations."</p>
      </div>
      <br>
      <button class="collapsible">The most insightful quotes to share</button>
      <div class="content">
        <b><p>Example</p></b>   
        <p>John: "People really misperceive this, that if you just say here's a $100, go out and make yourself happy, and then you check in later with them, the people who spent it on other people are happier."</p>
        <p>Jane: "So there's a very real sense in which saving 1000 people's lives is a thousand times better than saving one person's life. But research suggests that if anything, saving a single person is more emotionally salient than saving 1000 that it becomes the numbers become very abstract."</p>
      </div>
      <br>
      <button class="collapsible">A detailed transcript of the conversation</button>
      <div class="content">
        <b><p>Example</p></b>  
        <p>[02:46] John: "So why don't we do one better?"</p>
        <p>[02:52] Jane: "Why don't we apply the cooperative social emotional capacities that we evolved for competition and apply them not just cooperatively within our local groups, but more broadly?"</p>
        <p>[03:10] Jane: "And so my mission is to expand that circle all the way out as best as I can."</p>
      </div>
  </body>
</html>
